body {
    font-family: 'Source Sans Pro', sans-serif;
}
img {
    height: 200px;
    width: 200px;
}
a {
    color: inherit;
    text-decoration: none!important
}
#navbar {
    color: white;
}
#portfolio {
    height: 600px;
    overflow: scroll;
    background-color: #343a40;
    color: whitesmoke
}
h5 {
    font-weight: bolder
}
hr {
    border-color: whitesmoke
}